<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h1 class="modal-title">{{name}}</h1>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <dl>
      <dt>Height (cm)</dt>
      <dd>{{height}}</dd>
      <dt>Hair Color</dt>
      <dd>{{hair_color}}</dd>
      <dt>Skin Color</dt>
      <dd>{{skin_color}}</dd>
      <dt>Eye Color</dt>
      <dd>{{eye_color}}</dd>
      <dt>Birth Year</dt>
      <dd>{{birth_year}}</dd>
      <dt>Gender</dt>
      <dd>{{gender}}</dd>
      <dt>Homeworld</dt>
      <dd>{{homeworld}}</dd>
      <dt>Species</dt>
      <dd *ngFor="let s of " + {{species}}>{{s}}</dd>
      <dt>Starships</dt>
      <dd *ngFor="let h of "+ {{starships}}>{{h}}</dd>
      <dt>Vehicles</dt>
      <dd *ngFor="let v of " + {{vehicles}}>{{v}}</dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
