<div class="search" *ngIf="router.url === '/search/people'">
  <input type="text" [(ngModel)]="searchoption.name" placeholder="Enter the character">
</div>
<div class="search" *ngIf="router.url === '/search/planets'">
  <input type="text" [(ngModel)]="searchoption.name" placeholder="Enter the planet">
</div>
<div class="search" *ngIf="router.url === '/search/species'">
  <input type="text" [(ngModel)]="searchoption.name" placeholder="Enter the species">
</div>
<div class="search" *ngIf="router.url === '/search/starships'">
  <input type="text" [(ngModel)]="searchoption.name" placeholder="Enter the ship">
</div>
<div class="search" *ngIf="router.url === '/search/vehicles'">
  <input type="text" [(ngModel)]="searchoption.name" placeholder="Enter the vehicle">
</div>
<button (click)="searchData(router.url, searchoption.name)">Use the Force</button>
<div>

  {{searchUrl}}
  <br />
  {{results}}
</div>
