<!-- Search Options -->

<div class="search" *ngIf="router.url === '/search/people'">
  <input type="text" id="searchoption.name" name="searchoption.name" #name="ngModel" [(ngModel)]="searchoption.name">
</div>
<div class="search" *ngIf="router.url === '/search/planets'">
  <input type="text" id="searchoption.name" name="searchoption.name" required #name="ngModel" [(ngModel)]="searchoption.name" placeholder="Enter the planet">
</div>
<div class="search" *ngIf="router.url === '/search/species'">
  <input type="text" id="searchoption.name" name="searchoption.name" required #name="ngModel" [(ngModel)]="searchoption.name" placeholder="Enter the species">
</div>
<div class="search" *ngIf="router.url === '/search/starships'">
  <input type="text" id="searchoption.name" name="searchoption.name" required #name="ngModel" [(ngModel)]="searchoption.name" placeholder="Enter the ship">
</div>
<div class="search" *ngIf="router.url === '/search/vehicles'">
  <input type="text" id="searchoption.name" name="searchoption.name" required #name="ngModel" [(ngModel)]="searchoption.name" placeholder="Enter the vehicle">
</div>
<div >
<button type="submit" (click)="searchData(router.url, searchoption.name)">Use the Force</button>
</div>

<!-- Results of Search -->
<div *ngFor="let x of results" class="display">
  <div *ngIf="router.url === '/search/people'">
  <h1>Showing details for {{x.name}}</h1>
  <dl>
    <dt>Height (cm)</dt>
    <dd>{{x.height}}</dd>

    <dt>Hair Color</dt>
    <dd>{{x.hair_color}}</dd>

    <dt>Skin Color</dt>
    <dd>{{x.skin_color}}</dd>

    <dt>Eye Color</dt>
    <dd>{{x.eye_color}}</dd>

    <dt>Birth Year</dt>
    <dd>{{x.birth_year}}</dd>

    <dt>Gender</dt>
    <dd>{{x.gender}}</dd>

  </dl>
</div>
<div *ngIf="router.url === '/search/species'" class="display">
  <h1>Showing details for {{x.name}}</h1>
  <dl>
    <dt>Classification</dt>
    <dd>{{x.classification}}</dd>

    <dt>Designation</dt>
    <dd>{{x.designation}}</dd>

    <dt>Average Height (cm)</dt>
    <dd>{{x.average_height}}</dd>

    <dt>Skin Colors</dt>
    <dd>{{x.skin_colors}}</dd>

    <dt>Hair Colors</dt>
    <dd>{{x.hair_colors}}</dd>

    <dt>Eye Colors</dt>
    <dd>{{x.eye_colors}}</dd>

    <dt>Average Lift Span (years)</dt>
    <dd>{{x.average_lifespan}}</dd>

    <dt>Language</dt>
    <dd>{{x.language}}</dd>

    <dt>Homeworld</dt>
    <dd>{{x.homeworld}}</dd>

    <dt>People</dt>
    <dd><a *ngFor='let p of x.people' href="{{p}}" target="_blank">{{p}}<br /></a></dd>
  </dl>
</div>
<div *ngIf="router.url === '/search/planets'" class="display">
  <h1>Showing details for {{x.name}}</h1>
  <dl>
    <dt>Rotation Period (hours)</dt>
    <dd>{{x.rotation_period}}</dd>

    <dt>Orbital Period (days)</dt>
    <dd>{{x.orbital_period}}</dd>

    <dt>Diameter (meters)</dt>
    <dd>{{x.diameter}}</dd>

    <dt>Climate</dt>
    <dd>{{x.climate}}</dd>

    <dt>Terrain</dt>
    <dd>{{x.terrain}}</dd>

    <dt>Surface Water (%)</dt>
    <dd>{{x.surface_water}}</dd>

    <dt>Population</dt>
    <dd>{{x.population}}</dd>

    <dt>Residents</dt>
    <dd><a *ngFor='let r of x.residents' href="{{r}}" target="_blank">{{r}}<br /></a></dd>
  </dl>
</div>
<div *ngIf="router.url === '/search/starships'" class="display">
  <h1>Showing details for {{x.name}}</h1>
    <dl>
      <dt>Model</dt>
      <dd>{{x.model}}</dd>

      <dt>Manufacturer</dt>
      <dd>{{x.manufacturer}}</dd>

      <dt>Cost in Credits</dt>
      <dd>{{x.cost_in_credits}}</dd>

      <dt>Length</dt>
      <dd>{{x.length}}</dd>

      <dt>Max Atmospheric Speed</dt>
      <dd>{{x.max_atmosphering_speed}}</dd>

      <dt>Crew</dt>
      <dd>{{x.crew}}</dd>

      <dt>Passengers Capacity</dt>
      <dd>{{x.passengers}}</dd>

      <dt>Cargo Capacity</dt>
      <dd>{{x.cargo_capacity}}</dd>

      <dt>Consumables</dt>
      <dd>{{x.consumables}}</dd>

      <dt>Hyperdrive Rating</dt>
      <dd>{{x.hyperdrive_rating}}</dd>

      <dt>MGLT</dt>
      <dd>{{x.MGLT}}</dd>

      <dt>Starship Class</dt>
      <dd>{{x.starship_class}}</dd>
    </dl>
  </div>
  <div *ngIf="router.url === '/search/vehicles'" class="display">
    <h1>Showing details for {{x.name}}</h1>
      <dl>
        <dt>Model</dt>
        <dd>{{x.model}}</dd>

        <dt>Manufacturer</dt>
        <dd>{{x.manufacturer}}</dd>

        <dt>Cost in Credits</dt>
        <dd>{{x.cost_in_credits}}</dd>

        <dt>Length</dt>
        <dd>{{x.length}}</dd>

        <dt>Crew</dt>
        <dd>{{x.crew}}</dd>

        <dt>Passengers Capacity</dt>
        <dd>{{x.passengers}}</dd>

        <dt>Cargo Capacity</dt>
        <dd>{{x.cargo_capacity}}</dd>

        <dt>Consumables</dt>
        <dd>{{x.consumables}}</dd>

        <dt>Vehicle Class</dt>
        <dd>{{x.vehicle_class}}</dd>

      </dl>
    </div>
</div>
